#colorPicker{
	width: 176px;
	border: 1px solid #ccc;
	overflow: hidden;
	position: absolute;
}
#colorPicker table{
	border-collapse:collapse;
	margin-left: -1px;
	margin-top: -1px;
	margin-right: -1px;
}
#colorPicker table tr td{
	width: 10px;
	height: 10px;
	border: 1px solid #ddd;
	cursor: crosshair;
}
#colorPicker .previewcolor{
	width: 100%;
	height: 30px;
}
#colorPicker .previewcolor .color{
	width: 55%;
	height: 30px;
	float: left;
	background: #fff;
	border-right: 1px solid #ccc;
}
#colorPicker .previewcolor .code{
	height: 30px;
	float: left;
	line-height: 30px;
	text-align: center;
}